<?xml version="1.0" encoding="utf-8" ?>
			<configuration>
	   			<connectionStrings>
        				<add name="ConexionTillas" 
             					connectionString="Server=LAPTOP-BGMQ967E\SQLEXPRESS;Database=TillasDB;Integrated Security=True;TrustServerCertificate=True;" 
             					providerName="Microsoft.Data.SqlClient" />
    				</connectionStrings>
			</configuration>
