<?xml version="1.0" encoding="utf-8" ?>
    <configuration>
	    <configSections>
           <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
               <section name="TillasDesktop.UI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
           </sectionGroup>
       </configSections>
       <connectionStrings>
           <add name="ConexionTillas" connectionString="Server=LAPTOP-BGMQ967E\SQLEXPRESS;Database=TillasDB;Integrated Security=True;TrustServerCertificate=True;"
                providerName="Microsoft.Data.SqlClient" />
	   </connectionStrings>
	   <userSettings>
           <TillasDesktop.UI.Properties.Settings>
               <setting name="UsuarioGuardado" serializeAs="String">
                   <value />
               </setting>
           </TillasDesktop.UI.Properties.Settings>
       </userSettings>
   </configuration>
